:root{
    --color1: #fcffc1;
    --color2: #ffe893;
    --color3: #fbb4a5;
    --color4: #fb9ec6;
    
    --colorL0: #fb9ec6;
    --colorL1: #b33791;
    --colorL2: #c562af;
    --colorL3: #db8dd0;
}