:root{
    --color1: #f6f1f1;
    --color2: #afd3e2;
    --color3: #19a7ce;
    --color4: #146c94;
    
    --colorL0: #071952;
    --colorL1: #088395;
    --colorL2: #37b7c3;
    --colorL3: #ebf4f6;

    --settingColor: #142850c3;
    --settingBorder: #27496d;
    --settingFont1: #0c7b93;
    --settingFont2: #00a8cc;
}